body {
  height: 100vh;
  width: 100%;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #13253a;
  mix-blend-mode: normal;
  opacity: 0.9;
  padding: 0;
  margin: 0;
}

/* ---------------------------------------------------- header */

header {
  min-width: 1440px;
  width: 1440px;
  min-height: 810px;
  box-sizing: border-box;

  background: #f4f6f7;
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #dce2e6;
}

.navigation {
  min-width: 1440px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  padding-left: 135px;
  padding-right: 135px;
}

.fluffy-logo {
  margin-top: 40px;
}

nav {
  margin-top: 53px;
}

.navlink {
  text-decoration: none;
  margin-left: 50px;
}

.navlink:hover {
  font-size: 20px;
  color: #ff7f57;
}

.header-content {
  width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-text {
  height: 261px;
  width: 470px;
}

.bluetext {
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  color: #2557ab;
}

.bluetext--first,
.bluetext--third {
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 46px;
  line-height: 58px;
  letter-spacing: -1px;

  color: #13253a;
}

.orange-button {
  height: 51px;
  background-color: #ff7f57;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-bottom: 245px;
  border: none;
  font-size: 17px;
  font-style: italic;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.button--first {
  width: 336px;
}

.orange-button:hover {
  background-color: #2557ab;
  transform: scale(1.1);
}

/* ---------------------------------------------------------service */

.service {
  width: 1440px;
  height: 525px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.service-heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  padding-top: 120px;
  padding-bottom: 34px;
}

.bluetext--second {
  position: absolute;
}

h2 {
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #13253a;
}

.service-content {
  width: 1170px;
  min-height: 197px;
  display: flex;
}

.card {
  margin-left: 20px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #3b4d6c;
}

.text-service > {
  text-align: center;
}

.img-service {
  max-width: 64px;
  max-height: 64px;
}

/* -----------------------------------------------------------kpi */

.kpi {
  width: 1440px;
  height: 205px;
  background: #f4f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kpi-content {
  max-width: 250px;
  height: 85px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  border: #ff7f57 1px solid;
}

.kpi-content:first-of-type {
  margin-left: 200px;
}

.kpi-content:nth-child(2) {
  margin-left: 125px;
  margin-right: 157px;
}

.kpi-content:last-of-type {
  margin-right: 200px;
}

.bigtext {
  font-size: 46px;
  line-height: 58px;
  color: #13253a;
  margin: 0;
}

.bigtext--orange {
  color: #ff7f57;
}

/* ---------------------------------------------------------about */

.about {
  height: 699px;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 970px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0px;
}

.bluetext--fourth {
  padding-left: 20px;
  margin-bottom: 0px;
}

.boldbigtext {
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  margin-top: 0px;
}

.boldbigtext--about {
  color: #13253a;
  margin-bottom: 34px;
}

.about-text {
  display: flex;
}

.about-right {
  margin-right: 30px;
  padding-top: 0px;
}

.right-heading {
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
}

.logos {
  width: 970px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.separator {
  min-width: 1170px;
  margin-top: 100px;
  border: #dce2e6 1px solid;
}

/* --------------------------------------------------------info */

.info {
  width: 1440px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info-content {
  width: 1170px;
  height: 450px;
  display: flex;
}

.info-right {
  padding-right: 70px;
}

.boldbigtext--info {
  padding-right: 150px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.material-icons {
  position: relative;
  color: #ff7f57;
  font-weight: bold;
  top: 6px;
}

.left {
  border: geren 1px solid;
  min-height: 450px;
}

.img-rectangle {
  position: relative;
  top: -9px;
  border: none;
}

/* ----------------------------------------------------------------cfa */

.cfa {
  width: 1440px;
  height: 434px;
  background: #ff7f57;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cfa-content {
  min-height: 234px;
  width: 770px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-content: space-around;
}

.top-heading {
  color: #ffffff;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 0px;
}

.big-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 46px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1px;
  color: #f4f6f7;
  margin-bottom: 0px;
  margin-top: 7px;
}

.text-cfa {
  color: #ffffff;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}

.cfa-button {
  width: 226px;
  height: 60px;
  color: #ffffff;
  background: #2557ab;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
  border: none;
}

.cfa-button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  border: #2557ab solid 1px;
  color: #2557ab;
}

/* ------------------------------------------------------------------------------footer*/

footer {
  width: 1440px;
  height: 817px;
  background: #11364e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contactform {
  height: 490px;
  width: 371px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formheading {
  margin: 0px;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
  padding-bottom: 34px;
}

form {
  height: 348px;
  width: 371px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
}

label {
  height: 56px;
  font-style: italic;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

input {
  width: 100%;
  height: 20px;
  background: #11364e;

  border-bottom: rgba(255, 255, 255, 0.116) 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0px;

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ff7f57;
}

input:focus {
  background-color: #225d85;
}

input::placeholder {
  height: 20px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
}

textarea {
  width: 100%;
  height: 120px;
  background: #11364e;

  border-bottom: rgba(255, 255, 255, 0.116) 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0px;

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ff7f57;
  resize: none;
}

textarea:focus {
  background-color: #2557ab;
}

textarea::placeholder {
  height: 120px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.orange-button--last {
  text-align: center;
  width: 371px;
  margin: 0;
  align-self: flex-end;
}

.coopyright {
  width: 1440px;
  height: 47px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
  background: #13253a;
  padding-top: 35px;
  align-self: flex-end;
}
